# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: iCal Generate

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *'
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run Generator
      run: |
        python main.py
    - name: Commit iCal File
      run: |
        git_diff=$(git diff --exit-code)
        if [[ $? == 0  ]]; then 
          echo "noting to commit"
          exit 0
        fi
        git config --global user.name 'Dreace'
        git config --global user.email 'dreace@users.noreply.github.com'
        git add .
        git commit -am "Commit iCal File"
        git push
